<?php
$_product    = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
?>

<?php if ($_product->isSaleable() && count($_attributes)):?>
<dl>
    <?php foreach($_attributes as $_attribute): ?>
    <?php $isColorSwatch = Mage::getStoreConfig('color/sample/ENABLED') && $_attribute->getProductAttribute()->getAttributeCode() == "color";?>
    <dt>
        <label <?php if ($isColorSwatch): ?> style="display: none;" <?php endif?>><em>*</em><?php echo "Choose ".$_attribute->getLabel() ?></label>
    </dt>

    <dd<?php if ($_attribute->decoratedIsLast){?><?php }?>>
        <?php if ($isColorSwatch): ?>
        <div class='colorswatchselect' >
            <?php $colorSwatchBlock = $this->getLayout()->createBlock('colorswatch/colorswatch')->setProduct($_product)->setAttributeId($_attribute->getAttributeId()); ?>
            <?php echo $colorSwatchBlock->getSwatchImages(); ?>
            <div class="color-name" id="selected-<?php echo $_product->getId()?>" style="display: none;">
                <label><?php echo $this->__('Color')?></label>
                <p id="color-<?php echo $_product->getId()?>"></p>
            </div>
        </div>
        <?php endif; ?>
        <div>
            <select for="<?php echo $_attribute->getProductAttribute()->getAttributeCode()?>" name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="required-entry super-attribute-select_<?php echo $_product->getId()?>" ids="<?php echo $_product->getId()?>" <?php if ($isColorSwatch): ?> style="margin-left: -1000px; opacity: 0;" <?php endif?>>
                <option><?php echo $this->__('Choose an Option...') ?></option>
            </select>
        </div>
    </dd>

    <?php endforeach; ?>
</dl>

<script type="text/javascript">
    var spConfig_<?php echo $_product->getId()?> = new Inchoo_Product.Config(<?php echo $this->getJsonConfig() ?>);
</script>
<?php endif;?>