<div class='title-box'>
    <h2><?php echo $this->__('BRANDS IN THE SPOTLIGHT')?></h2>
    <div class="gen-slider-arrows1-pos-top-right list-brand-control"></div>
</div>
    <?php $brands = $this->helper('ocm_setup')->getAttributeOptions('brand')?>
<div class="box-content home-list-brand">
<?php if(count($brands)):?>
    <ul class="slides">
        <?php foreach($brands as $brand):?>
        <?php
        $brandKey = $this->helper('ocm_setup')->formatBrandKey($brand['label']);
        $img = $brandKey.'.jpg';
        $brandUrl = $this->getUrl().$brandKey.'.html';
        if(file_exists(Mage::getBaseDir().'/skin/frontend/philtre/default/images/brand/'.$img)){
            $brandImg = $this->getUrl().'skin/frontend/philtre/default/images/brand/'.$img;
            $brandImg = str_replace('/index.php','',$brandImg);
        }else{
            $brandImg = $this->helper('catalog/image')->init(Mage::getModel('catalog/product'), 'small_image');
        }
        ?>
        <li>
            <div style="display:table-cell; vertical-align:middle;">
            <a href="<?php echo $brandUrl?>">
            <img width="135" src="<?php echo $brandImg?>" alt="<?php echo $brand['label']?>" title="<?php echo $brand['label']?>"/>
            </a>
                </div>
        </li>
        <?php endforeach;?>
    </ul>
<script>
    // js hack to v-align brands
    function alignBrands(){
        var maxHeight = 0;
        jQuery('.home-list-brand img').each(function(){
            if (jQuery(this).height()>maxHeight)
                maxHeight = jQuery(this).height();
        });
        jQuery('.home-list-brand div div').each(function(){
            jQuery(this).height(maxHeight);
            jQuery(this).css('height',maxHeight+"px");
//            console.log(maxHeight);
        });
    }
    jQuery(document).ready(function(){
        setTimeout("alignBrands()",200);
    });
</script>
<?php endif?>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.home-list-brand').flexslider({
            namespace: "",
            animation: "slide",
            easing: "easeInOutCubic",
            animationLoop: 1,
            slideshowSpeed: 6000,
            animationSpeed: 300,
            pauseOnHover: 1,
            controlNav: false,
            controlsContainer: ".list-brand-control",
            itemWidth: 200,
            maxItems: 5,
            move: 0,
            slideshow: false
        });
    });

</script>