<?php
$subcategories = $this->helper('ocm_setup')->getSubcategories();
//var_dump(Mage::helper('ocm_catalog'));die;
?>
<div class='title-box'>
    <h2><?php echo $this->__('SPECIAL WAYS TO SHOP')?></h2>
    <div class="subcategory-control gen-slider-arrows1 gen-slider-arrows1-pos-top-right"></div>
</div>
<div class="box-content subcategory">
    <ul class="slides">
    <?php foreach($subcategories as $category):?>
            <?php
            $category = Mage::getModel('catalog/category')->load($category->getId());
            $_imgUrl = $category->getImageUrl();

            if($category->getImageUrl() && file_exists(Mage::getBaseDir().'/media/catalog/category/'.$category->getImage())){
                $img = $category->getImageUrl();
            }elseif($category->getThumbnailUrl() && file_exists(Mage::getBaseDir().'/media/catalog/category/'.$category->getThumbnail())){
                $img = $category->getThumbnailUrl();
            }else {
                $img = $this->helper('catalog/image')->init(Mage::getModel('catalog/product'), 'small_image');
            }
            $img = Mage::helper('ocm_catalog')->init($category->getImageUrl())->resize(250,null);
            ?>

        <li>
            <a href="<?php echo $category->getUrl() ?>" class="product-image">
                <img title="<?php echo $this->stripTags($category->getName(), null, true)?>" src="<?php echo $img ?>" />
            </a>
            <h3 class="product-name"><a href="<?php echo $category->getUrl() ?>" title="<?php echo $this->stripTags($category->getName(), null, true)  ?>"><?php echo $category->getName()  ?></a></h3>
        </li>
    <?php endforeach;?>
    </ul>
</div>


<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.subcategory').flexslider({
            namespace: "",
            animation: "slide",
            easing: "easeInOutCubic",
            animationLoop: 1,
            slideshowSpeed: 6000,
            animationSpeed: 300,
            pauseOnHover: 1,
            controlNav: false,
            controlsContainer: ".subcategory-control",
            itemWidth: 200,
            maxItems: 5,
            move: 0,
            slideshow: false
        });
    });
</script>