<?php
$products = $this->getFeaturedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<div class='title-box'>
    <h2><?php echo $this->__('FEATURED PRODUCTS')?></h2>
</div>

<div class="box-content home-feature-product">
    <?php if(count($products)): ?>
    <div class="feature-control gen-slider-arrows1-pos-top-right"></div>
    <ul class="slides">
        <?php foreach($products as $_product):?>
<!--            hard-coding for demonstration-->
        <?php //$_product = Mage::getModel('catalog/product')->loadByAttribute('sku','hypoallergenic-shampoo'); ?>
        <?php $_product = Mage::getModel('catalog/product')->load($_product->getId())?>
        <li>
           <div class="product-image">
               <a href="<?php echo $_product->getProductUrl() ?>" class="product-image">
                <img title="<?php echo $this->stripTags($_product->getName(), null, true)?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="<?php echo $_product->getName() ?>" />
            </a>
               <div class="quick-view">
                   <a class="view-detail-product" href="#view<?php echo $_product->getId()?>"><?php echo $this->__('QUICK VIEW')?></a>
               </div>
            </div>
            <?php if($brand = $_product->getData('brand')):?>
                <div class="product-brand">
                    <h3><?php echo $_product->getAttributeText('brand')?></h3>
                </div>
            <?php endif?>
            <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true)  ?>"><?php echo $_product->getName()  ?></a></h3>

            <p class='product-price'>
                <?php echo $this->getPriceHtml($_product, true) ?>
            </p>
            <?php echo $this->getReviewsSummaryHtml($_product) ?>

            <div id="view<?php echo $_product->getId()?>" style="display: none;">
                <div class="quick-view-wrap">

                    <div>
                        <div id="pro-des-<?php echo $_product->getId() ?>" class="popup-quickview quickview-product">

                            <!--images of product-->
                            <form action="<?php echo $this->helper('checkout/cart')->getAddUrl($_product) ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId()?>" <?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                                <div class="product-list-media">
                                    <?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
                                    <?php

                                    $idimg = 'id="image"';

                                    $_img = '<div width="200" class="current-img-zoom"><p><img id="img'.$_product->getId().'" class="cloud-zoom" '.$idimg.' src="'.$this->helper('catalog/image')->init($_product, 'small_image')->resize(200).'" /></p></div>';
                                    echo $_helper->productAttribute($_product, $_img, 'small_image');
                                    ?>
                                    <?php else: ?>
                                    <p class="product-image">
                                        <?php
                                        $_img = '<img width="200" id="img'.$_product->getId().'" src="'.$this->helper('catalog/image')->init($_product, 'small_image')->resize(200).'" alt="'.$this->htmlEscape($_product->getImageLabel()).'" title="'.$this->htmlEscape($_product->getImageLabel()).'" />';
                                        echo $_helper->productAttribute($_product, $_img, 'image');
                                        ?>
                                    </p>
                                    <?php endif; ?>
                                </div>
                                <!--End images of product-->
                                <div class="right-quickview">
                                    <!--Name and price -->
                                    <?php if($brand = $_product->getData('brand')):?>
                                        <div class="product-brand">
                                            <h3><?php echo $_product->getAttributeText('brand')?></h3>
                                        </div>
                                    <?php endif?>
                                    <div class="product-list-info">
                                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                                    </div>

                                    <div class='quick-review'>
                                        <?php echo $this->getReviewsSummaryHtml($_product) ?>
                                    </div>
                                    <div class="short-description">
                                        <?php
                                                $showDes = false;
                                            if(strlen($_product->getShortDescription())>100){
                                                $showDes = true;
                                                $text = $this->helper('core/string')->truncate($_product->getShortDescription(),100,'');
                                                $rpos = strrpos($text,' ');
                                                $text = substr($text,0,$rpos).'. <a class="more-views" href="javascript:void(0);" onclick="showAllDescription('.$_product->getId().');">Learn more >></a> ';
                                            }
                                        ?>
                                        <?php if($showDes):  ?>
                                            <div class="min-description" id="mindes<?php echo $_product->getId()?>">
                                                <?php echo $text?>
                                            </div>
                                            <div class="max-description" style="display: none;" id="maxdes<?php echo $_product->getId()?>">
                                                <?php echo $_product->getShortDescription()?>
                                                <?php if(strlen($_product->getShortDescription())>150):?>
                                                <a class="more-views" href="javascript:void(0);" onclick="showShortDes('<?php echo $_product->getId()?>');"> &lt;&lt;Less.</a>
                                                <?php endif;?>
                                            </div>
                                        <?php else:?>
                                            <?php echo $_product->getShortDescription()?>
                                        <?php endif;?>
                                    </div>
                                    <?php if($country_of_manufacture = $_product->getData('country_of_manufacture')):?>
                                    <div class="country_of_manufacture">
                                        <p>
                                            <label><?php echo $this->__('Made in the ')?></label>
                                            <skin><?php echo $_product->getAttributeText('country_of_manufacture')?></skin>
                                        </p>
                                    </div>
                                    <?php endif?>
                                    <!--End Name and price-->

                                    <!--End Average Rating -->
                                    <!--Option Color and Size -->
                                    <div class="product-list-option clearfix">
                                        <?php Mage::unregister('product') ?>
                                        <?php Mage::register('product', $_product); ?>
                                        <?php if ( $_product->getTypeId() == 'configurable'): ?>
                                        <?php echo $this->getLayout()->createBlock('catalog/product_view_type_configurable', 'configurable.product.list', array('template'=> 'catalog/product/view/type/options/configurable_category.phtml'))->toHtml(); ?>
                                        <?php endif; ?>
                                    </div>
                                    <!--End option color and size-->
                                    <!--Add to cart-->
                                    <div class="quick-view-add">
                                        <?php echo $this->getPriceHtml($_product,true) ?>
                                        <?php echo $this->getLayout()->createBlock('catalog/product_view', 'product.list.addtocart', array('template'=> 'catalog/product/view/addtocart.phtml'))->toHtml(); ?>
                                    </div>
                                    <!--Add to cart-->


                                </div>
                            </form>
                            <script type="text/javascript">
                                //<![CDATA[
                                var productAddToCartForm<?php echo $_product->getId()?> = new VarienForm('product_addtocart_form_<?php echo $_product->getId()?>');
                                productAddToCartForm<?php echo $_product->getId()?>.submit = function () {
                                    if (this.validator.validate()) {
                                        this.form.submit();
                                    }
                                }.bind(productAddToCartForm<?php echo $_product->getId()?>);
                                //]]>

                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                function changeColorDropdown<?php echo $_product->getId()?>(tag, val, elId, imageSrc,attId){
                    var select = null;
                    var allcolors = document.getElementsByName('super_attribute['+attId+']');
                    for (var i = 0; i < allcolors.length; i++)
                    {
                        if (allcolors[i].getAttribute('ids')==elId)
                        {
                            select = allcolors[i];
                            break;
                        }
                    }

                    for (var j = 0; j < select.options.length; j++) {
                        if (select.options[i].value == val) {
                            select.selectedIndex = i;
                            jQuery(select).val(val);
                            break;
                        }
                    }
                    jQuery('.color_active').removeClass('color_active');
                    jQuery(tag).addClass('color_active');
                    document.getElementById('img'+elId).src = imageSrc;
                    jQuery('#color-'+elId).html(jQuery(tag).attr('title'));
                    jQuery('#selected-'+elId).show();
                    spConfig_<?php echo $_product->getId() ?>.configureElement(select);

                }
            </script>
        </li>
        <?php endforeach;?>
    </ul>
    <?php else:?>
    <?php echo $this->__('There are no product in here.')?>
    <?php endif;?>
</div>
<script type="text/javascript">
    function showAllDescription(id){
        jQuery('#mindes'+id).hide();
        jQuery('#maxdes'+id).show();
    }
    function showShortDes(id){
        jQuery('#mindes'+id).show();
        jQuery('#maxdes'+id).hide();
    }
    jQuery(document).ready(function() {
        jQuery('.home-feature-product').flexslider({
            namespace: "",
            animation: "slide",
            easing: "easeInOutCubic",
            animationLoop: 1,
            slideshowSpeed: 6000,
            animationSpeed: 300,
            pauseOnHover: 1,
            controlNav: false,
            controlsContainer: ".feature-control",
            itemWidth: 200,
            maxItems: 5,
            move: 0,
            slideshow: false
        });
    });
    jQuery('a.view-detail-product').fancybox();

</script>