
<div class="quick-view-wrap">

    <div>
        <div id="pro-des-<?php echo $_product->getId() ?>" class="popup-quickview quickview-product">
            <!--                                        <div class="quickview-content">-->
            <!--                                            --><?php //echo $_product->getDescription() ?>
            <!--                                            <p class="p-popup"><button type="button" title="--><?php //echo $this->__('Add to Cart') ?><!--" class="button btn-cart" onclick="setLocation('--><?php //echo $this->getAddToCartUrl($_product) ?><!--')"><span><span>--><?php //echo $this->__('Add to Cart') ?><!--</span></span></button></p>-->
            <!--                                        </div>-->
            <!--images of product-->
            <form action="<?php echo $this->helper('checkout/cart')->getAddUrl($_product) ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId()?>" <?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                <div class="product-list-media">
                    <?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
                    <?php

                    $idimg = 'id="image"';

                    $_img = '<div class="current-img-zoom"><p><img class="cloud-zoom" '.$idimg.' src="'.$this->helper('catalog/image')->init($_product, 'small_image')->resize(440).'" /></p></div>';
                    echo $_helper->productAttribute($_product, $_img, 'small_image');
                    ?>
                    <?php else: ?>
                    <p class="product-image">
                        <?php
                        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'small_image')->resize(200).'" alt="'.$this->htmlEscape($_product->getImageLabel()).'" title="'.$this->htmlEscape($_product->getImageLabel()).'" />';
                        echo $_helper->productAttribute($_product, $_img, 'image');
                        ?>
                    </p>
                    <?php endif; ?>
                </div>
                <!--End images of product-->
                <div class="right-quickview">
                    <!--Name and price -->
                    <div class="product-list-info">
                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                        <?php //echo $this->getPriceHtml($_product,true) ?>
                    </div>
                    <!--End Name and price-->

                    <!--End Average Rating -->
                    <!--Option Color and Size -->
                    <div class="product-list-option clearfix">
                        <?php Mage::unregister('product') ?>
                        <?php Mage::register('product', $_product); ?>
                        <?php if ( $_product->getTypeId() == 'configurable'): ?>
                        <?php echo $this->getLayout()->createBlock('catalog/product_view_type_configurable', 'configurable.product.list', array('template'=> 'catalog/product/view/type/options/configurable_category.phtml'))->toHtml(); ?>
                        <?php endif; ?>
                    </div>
                    <!--End option color and size-->
                    <!--Add to cart-->
                    <div class="quick-view-add"><?php echo $this->getLayout()->createBlock('catalog/product_view', 'product.list.addtocart', array('template'=> 'catalog/product/view/addtocart.phtml'))->toHtml(); ?></div>
                    <!--Add to cart-->
                    <p class="f-fix read-product"><a class="button" href="<?php echo $_product->getProductUrl()?>"><?php echo $this->__("View more details") ?></a></p>

                </div>
            </form>
            <script type="text/javascript">
                //<![CDATA[
                var productAddToCartForm = new VarienForm('product_addtocart_form_<?php echo $_product->getId()?>');
                productAddToCartForm.submit = function () {
                    if (this.validator.validate()) {
                        this.form.submit();
                    } else {
                        var err = '';
                        var color = jQuery('select[for="color"]').val();
                        var size = jQuery('select[for="size"]').val();
                        if(color==''){
                            setTimeout("hideColorErr();",200);
                            err = 'Please select your color before adding item to cart';
                        }
                        if(size==''){
                            setTimeout("hideSizeErr();",200);
                            err = 'Please select your size before adding item to cart';
                        }
                        if(err!=''){
                            jQuery('.text-note').html(err);
                            jQuery('.text-note').show();
                        }
                    }
                }.bind(productAddToCartForm);
                //]]>
                function hideColorErr(){
                    jQuery('select[for="color"]').parent().find('.validation-advice').hide();
                }
                function hideSizeErr(){
                    jQuery('select[for="size"]').parent().find('.validation-advice').hide();
                }
            </script>
        </div>
    </div>
</div>